
<section class="image-slider">
 
</section>

{% schema %}
{
  "name": "Image Slider",
  "max_blocks": 10,
  "settings": [
    {
      "type": "header",
      "content": "Image Slider"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Slider title"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Image Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image Slider",
      "category": "Image"
    }
  ]
}
{% endschema %}
